body{
    background-color: #474e5d;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: right;
    color:yellow;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.yazı{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    float: left;
    color: yellow;
}
body, html {
    height: 100%;
}
.img-fluid{
    max-width: 800px;
    max-height: 500px ;
    margin-top: 50px;
    margin-left: 990px;
    border-radius: 50%;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left:33%;
    transform: translate(-50%, -50%);
    color: white;
  }
  @media screen and (max-width:768px)   {
        .topnav{
        width: 900px;
        
        justify-content: center;
    }
    
    }
    #markaadı{
        margin-left:50%;
        text-align: center;
    }
